<?xml version="1.0" encoding="utf-8"?>

<!--======================================================================================
Copyright 2015 Sitecore Corporation A/S
Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file 
except in compliance with the License. You may obtain a copy of the License at
		http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the 
License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
either express or implied. See the License for the specific language governing permissions 
and limitations under the License.
======================================================================================-->
<configuration>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="Sitecore.Ecommerce.Services.OrderIDGeneratorServiceBehavior" name="Sitecore.Ecommerce.Services.OrderIDGeneratorService">
				<endpoint address="" binding="basicHttpBinding" contract="Sitecore.Ecommerce.Services.IOrderIDGeneratorService" bindingConfiguration="BasicHttpBinding_IOrderIDGeneratorService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="Sitecore.Ecommerce.Services.OrderProcessorServiceBehavior" name="Sitecore.Ecommerce.Services.OrderProcessorService">
				<endpoint address="" binding="basicHttpBinding" contract="Sitecore.Ecommerce.Services.IOrderProcessorService" bindingConfiguration="BasicHttpBinding_IOrderProcessorService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="Sitecore.Ecommerce.Services.OrderServiceBehavior" name="Sitecore.Ecommerce.Services.OrderService">
				<endpoint address="" binding="basicHttpBinding" contract="Sitecore.Ecommerce.Services.IOrderService" bindingConfiguration="BasicHttpBinding_IOrderService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="Sitecore.Ecommerce.Services.ProductPriceServiceBehavior" name="Sitecore.Ecommerce.Services.ProductPriceService">
				<endpoint address="" binding="basicHttpBinding" contract="Sitecore.Ecommerce.Services.IProductPriceService" bindingConfiguration="BasicHttpBinding_IProductPriceService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="Sitecore.Ecommerce.Services.ProductStockServiceBehavior" name="Sitecore.Ecommerce.Services.ProductStockService">
				<endpoint address="" binding="basicHttpBinding" contract="Sitecore.Ecommerce.Services.IProductStockService" bindingConfiguration="BasicHttpBinding_IProductStockService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="Sitecore.Ecommerce.Services.OrderRepositoryServiceBehavior" name="Sitecore.Ecommerce.Services.OrderRepositoryService">
				<endpoint address="" binding="basicHttpBinding" contract="Sitecore.Ecommerce.Services.IOrderRepositoryService" bindingConfiguration="BasicHttpBinding_IOrderRepositoryService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IOrderService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="01:40:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_IOrderIDGeneratorService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="01:40:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_IProductPriceService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="01:40:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_IProductStockService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="01:40:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_IOrderProcessorService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="01:40:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_IOrderRepositoryService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="01:40:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="524288" maxArrayLength="524288" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Sitecore.Ecommerce.Services.OrderIDGeneratorServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
				<behavior name="Sitecore.Ecommerce.Services.OrderProcessorServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
				<behavior name="Sitecore.Ecommerce.Services.OrderServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
				<behavior name="Sitecore.Ecommerce.Services.ProductPriceServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
				<behavior name="Sitecore.Ecommerce.Services.ProductStockServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
				<behavior name="Sitecore.Ecommerce.Services.OrderRepositoryServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>        
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.runtime.serialization>
		<dataContractSerializer>
			<declaredTypes>
				<add type="Sitecore.Ecommerce.DomainModel.Products.ProductStock, Sitecore.Ecommerce.DomainModel">
					<knownType type="Sitecore.Ecommerce.Products.ProductStock, Sitecore.Ecommerce.Kernel"/>
				</add>
			</declaredTypes>
		</dataContractSerializer>
	</system.runtime.serialization>
	<system.webServer>
		<handlers>
			<add name="SvcHttpHandler" verb="*" path="*.svc" preCondition="integratedMode" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
	<system.web>
		<httpHandlers>
			<remove verb="*" path="*.svc"/>
			<add verb="*" path="*.svc" validate="false" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpHandlers>
		<compilation targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
