<?xml version="1.0" encoding="utf-8"?>

<!--======================================================================================
Copyright 2015 Sitecore Corporation A/S
Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file 
except in compliance with the License. You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the 
License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
either express or implied. See the License for the specific language governing permissions 
and limitations under the License.
======================================================================================-->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <assembly name="mscorlib" />
    <assembly name="Microsoft.Practices.Unity" />
    <assembly name="Sitecore.Ecommerce.Kernel" />
    <assembly name="Sitecore.Ecommerce.DomainModel" />
    <namespace name="Sitecore.Ecommerce.DomainModel.Configurations" />

    <!-- all the Alias's needed in every unity config so the container can resolve to them when doing registration -->
    <alias alias="ProductBaseData" type="Sitecore.Ecommerce.DomainModel.Products.ProductBaseData, Sitecore.Ecommerce.DomainModel" />
    <alias alias="FlashProduct" type="Sitecore.Ecommerce.Examples.Products.Flash, Sitecore.Ecommerce.Custom" />
    <alias alias="LenseProduct" type="Sitecore.Ecommerce.Examples.Products.Lense, Sitecore.Ecommerce.Custom" />
    <alias alias="OtherAccessoryProduct" type="Sitecore.Ecommerce.Examples.Products.OtherAccessory, Sitecore.Ecommerce.Custom" />
    <alias alias="PsCameraProduct" type="Sitecore.Ecommerce.Examples.Products.PsCamera, Sitecore.Ecommerce.Custom" />
    <alias alias="SlrCameraProduct" type="Sitecore.Ecommerce.Examples.Products.SlrCamera, Sitecore.Ecommerce.Custom" />
    <!-- ANALYTICS -->
    <alias alias="AnalyticsHelper" type="Sitecore.Ecommerce.Analytics.AnalyticsHelper, Sitecore.Ecommerce.Analytics" />
    
    <container>
      <!-- ANALYTICS -->
      <register type="AnalyticsHelper">
        <lifetime type="singleton" />
      </register>
      <!-- Additional container registrations for example site-->
      <register type="ProductBaseData" mapTo="FlashProduct" name="{95681CF6-3635-49EC-A09A-CC548FA62389}"/>
      <register type="ProductBaseData" mapTo="LenseProduct" name="{8FAC8E12-7459-43F8-97E8-1BC6840B9226}"/>
      <register type="ProductBaseData" mapTo="OtherAccessoryProduct" name="{A93FA2C4-3AE4-45C2-8C3F-EFA7E129537E}"/>
      <register type="ProductBaseData" mapTo="PsCameraProduct" name="{7BD2FBC6-061B-40DD-B1F9-D8603A701624}"/>
      <register type="ProductBaseData" mapTo="SlrCameraProduct" name="{B072B7C7-6F3F-4316-B8D7-010629AEBEF1}"/>
    </container>
  </unity>
</configuration>