<?xml version="1.0" encoding="utf-8"?>

<!--======================================================================================
Copyright 2015 Sitecore Corporation A/S
Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file 
except in compliance with the License. You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the 
License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
either express or implied. See the License for the specific language governing permissions 
and limitations under the License.
======================================================================================-->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <assembly name="mscorlib" />
    <assembly name="Microsoft.Practices.Unity" />
    <assembly name="Sitecore.Ecommerce.Kernel" />
    <assembly name="Sitecore.Ecommerce.DomainModel" />
    <namespace name="Sitecore.Ecommerce.DomainModel.Configurations" />
    <!-- SYSTEM TYPES -->
    <alias alias="IEnumerable" type="System.Collections.Generic.IEnumerable`1, mscorlib" />
    <alias alias="Collection" type="System.Collections.ObjectModel.Collection`1, mscorlib" />
    <alias alias="IList" type="System.Collections.Generic.IList`1, mscorlib" />
    <alias alias="List" type="System.Collections.Generic.List`1, mscorlib" />
    <alias alias="IDictionary" type="System.Collections.Generic.IDictionary`2, mscorlib" />
    <alias alias="Dictionary" type="System.Collections.Generic.Dictionary`2, mscorlib" />
    <alias alias="Hashtable" type="System.Collections.Hashtable, mscorlib" />
    <!-- SITECORE TYPES -->
    <alias alias="Item" type="Sitecore.Data.Items.Item, Sitecore.Kernel" />
    <alias alias="User" type="Sitecore.Security.Accounts.User, Sitecore.Kernel" />
    <alias alias="PipelineWrapper" type="Sitecore.Pipelines.PipelineWrapper, Sitecore.Ecommerce.Kernel" />
    <alias alias="StringDictionary" type="Sitecore.Collections.StringDictionary, Sitecore.Kernel" />
    <alias alias="SiteInfo" type="Sitecore.Web.SiteInfo, Sitecore.Kernel" />
    <alias alias="SiteContext" type="Sitecore.Sites.SiteContext, Sitecore.Kernel" />
    <alias alias="SiteContextFactoryWrapper" type="Sitecore.Sites.SiteContextFactoryWrapper, Sitecore.Ecommerce.Kernel" />
    <!-- CONTEXT -->
    <alias alias="ContextUser" type="Sitecore.Ecommerce.Security.Accounts.ContextUser, Sitecore.Ecommerce.Kernel" />
    <alias alias="ShopContext" type="Sitecore.Ecommerce.ShopContext, Sitecore.Ecommerce.Core" />
    <!-- BUSINESS SETTINGS -->
    <alias alias="ShoppingCartSettings" type="Sitecore.Ecommerce.DomainModel.Configurations.ShoppingCartSettings, Sitecore.Ecommerce.DomainModel" />
    <alias alias="BusinessCatalogSettings" type="Sitecore.Ecommerce.DomainModel.Configurations.BusinessCatalogSettings, Sitecore.Ecommerce.DomainModel" />
    <alias alias="DesignSettings" type="Sitecore.Ecommerce.DomainModel.Configurations.DesignSettings, Sitecore.Ecommerce.DomainModel" />
    <alias alias="GeneralSettings" type="Sitecore.Ecommerce.DomainModel.Configurations.GeneralSettings, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ShoppingCartSpotSettings" type="Sitecore.Ecommerce.DomainModel.Configurations.ShoppingCartSpotSettings, Sitecore.Ecommerce.DomainModel" />
    <!-- DOMAIN -->
    <alias alias="IEntity" type="Sitecore.Ecommerce.DomainModel.Data.IEntity, Sitecore.Ecommerce.DomainModel" />
    <alias alias="AddressInfo" type="Sitecore.Ecommerce.DomainModel.Addresses.AddressInfo, Sitecore.Ecommerce.DomainModel" />
    <alias alias="Country" type="Sitecore.Ecommerce.DomainModel.Addresses.Country, Sitecore.Ecommerce.DomainModel" />
    <alias alias="Currency" type="Sitecore.Ecommerce.DomainModel.Currencies.Currency, Sitecore.Ecommerce.DomainModel" />
    <alias alias="CustomerInfo" type="Sitecore.Ecommerce.DomainModel.Users.CustomerInfo, Sitecore.Ecommerce.DomainModel" />
    <alias alias="NotificationOption" type="Sitecore.Ecommerce.DomainModel.Shippings.NotificationOption, Sitecore.Ecommerce.DomainModel" />
    <alias alias="Order" type="Sitecore.Ecommerce.DomainModel.Orders.Order, Sitecore.Ecommerce.DomainModel" />
    <alias alias="OrderLine" type="Sitecore.Ecommerce.DomainModel.Orders.OrderLine, Sitecore.Ecommerce.DomainModel" />
    <alias alias="OrderStatus" type="Sitecore.Ecommerce.DomainModel.Orders.OrderStatus, Sitecore.Ecommerce.DomainModel" />
    <alias alias="PaymentSystem" type="Sitecore.Ecommerce.DomainModel.Payments.PaymentSystem, Sitecore.Ecommerce.DomainModel" />
    <alias alias="IProductRepositoryItem" type="Sitecore.Ecommerce.DomainModel.Products.IProductRepositoryItem, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ProductBaseData" type="Sitecore.Ecommerce.DomainModel.Products.ProductBaseData, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ProductStock" type="Sitecore.Ecommerce.DomainModel.Products.ProductStock, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ProductPriceBaseData" type="Sitecore.Ecommerce.DomainModel.Products.ProductPriceBaseData, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ProductCategory" type="Sitecore.Ecommerce.DomainModel.Products.ProductCategory, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ProductLine" type="Sitecore.Ecommerce.DomainModel.Products.ProductLine, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ShippingProvider" type="Sitecore.Ecommerce.DomainModel.Shippings.ShippingProvider, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ShoppingCart" type="Sitecore.Ecommerce.DomainModel.Carts.ShoppingCart, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ShoppingCartLine" type="Sitecore.Ecommerce.DomainModel.Carts.ShoppingCartLine, Sitecore.Ecommerce.DomainModel" />
    <alias alias="Totals" type="Sitecore.Ecommerce.DomainModel.Prices.Totals, Sitecore.Ecommerce.DomainModel" />
    <alias alias="VatRegion" type="Sitecore.Ecommerce.DomainModel.Addresses.VatRegion, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ICheckOut" type="Sitecore.Ecommerce.DomainModel.CheckOuts.ICheckOut, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ICurrencyConverter" type="Sitecore.Ecommerce.DomainModel.Currencies.ICurrencyConverter`2, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ICustomerManager" type="Sitecore.Ecommerce.DomainModel.Users.ICustomerManager`1, Sitecore.Ecommerce.DomainModel" />
    <alias alias="IOrderManager" type="Sitecore.Ecommerce.DomainModel.Orders.IOrderManager`1, Sitecore.Ecommerce.DomainModel" />
    <alias alias="IMail" type="Sitecore.Ecommerce.DomainModel.Mails.IMail, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ProductFactory" type="Sitecore.Ecommerce.DomainModel.Products.ProductFactory, Sitecore.Ecommerce.DomainModel" />
    <alias alias="IProductRepository" type="Sitecore.Ecommerce.DomainModel.Products.IProductRepository, Sitecore.Ecommerce.DomainModel" />
    <alias alias="IProductStockManager" type="Sitecore.Ecommerce.DomainModel.Products.IProductStockManager, Sitecore.Ecommerce.DomainModel" />
    <alias alias="IProductPriceManager" type="Sitecore.Ecommerce.DomainModel.Prices.IProductPriceManager, Sitecore.Ecommerce.DomainModel" />
    <alias alias="IShoppingCartManager" type="Sitecore.Ecommerce.DomainModel.Carts.IShoppingCartManager, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ITransactionData" type="Sitecore.Ecommerce.DomainModel.Payments.ITransactionData, Sitecore.Ecommerce.DomainModel" />
    <!-- PAYMENT PROVIDERS -->
    <alias alias="PaymentProviderFactory" type="Sitecore.Ecommerce.DomainModel.Payments.PaymentProviderFactory, Sitecore.Ecommerce.DomainModel" />
    <alias alias="DefaultPaymentProviderFactory" type="Sitecore.Ecommerce.Payments.DefaultPaymentProviderFactory, Sitecore.Ecommerce.Kernel" />
    <alias alias="PaymentProvider" type="Sitecore.Ecommerce.DomainModel.Payments.PaymentProvider, Sitecore.Ecommerce.DomainModel" />
    <!--<alias alias="AuthorizeNetPaymentProvider" type="Sitecore.Ecommerce.Payments.AuthorizeNet.AuthorizeNetPaymentProvider, Sitecore.Ecommerce.Payments.AuthorizeNet" />-->
    <!--<alias alias="BbsPaymentProvider" type="Sitecore.Ecommerce.Payments.Bbs.BbsPaymentProvider, Sitecore.Ecommerce.Payments.Bbs" />-->
    <!--<alias alias="DibsPaymentProvider" type="Sitecore.Ecommerce.Payments.Dibs.DibsPaymentProvider, Sitecore.Ecommerce.Payments.Dibs" />-->
    <!--<alias alias="EPayPaymentProvider" type="Sitecore.Ecommerce.Payments.EPay.EPayPaymentProvider, Sitecore.Ecommerce.Payments.EPay" />-->
    <!--<alias alias="PayExPaymentProvider" type="Sitecore.Ecommerce.Payments.PayEx.PayExPaymentProvider, Sitecore.Ecommerce.Payments.PayEx" />-->
    <!--<alias alias="QuickPayPaymentProvider" type="Sitecore.Ecommerce.Payments.QuickPay.QuickPayPaymentProvider, Sitecore.Ecommerce.Payments.QuickPay" />-->
    <!-- DATA -->
    <alias alias="EntityMapper" type="Sitecore.Ecommerce.DomainModel.Data.EntityMapper`2, Sitecore.Ecommerce.DomainModel" />
    <alias alias="IDataMapper" type="Sitecore.Ecommerce.Data.IDataMapper, Sitecore.Ecommerce.Kernel" />
    <alias alias="IEntityMemberConverter" type="Sitecore.Ecommerce.DomainModel.Data.IEntityMemberConverter, Sitecore.Ecommerce.DomainModel" />
    <alias alias="IEntityProvider" type="Sitecore.Ecommerce.DomainModel.Data.IEntityProvider`1, Sitecore.Ecommerce.DomainModel" />
    <alias alias="IMappingRule" type="Sitecore.Ecommerce.Data.IMappingRule`1, Sitecore.Ecommerce.Kernel" />
    <alias alias="DtoConvertor" type="Sitecore.Ecommerce.Data.Convertors.Convertor`1, Sitecore.Ecommerce.Kernel" />
    <alias alias="OrderDtoConvertor" type="Sitecore.Ecommerce.Data.Convertors.OrderConvertor, Sitecore.Ecommerce.Kernel" />
    <alias alias="ShoppingCartDtoConvertor" type="Sitecore.Ecommerce.Data.Convertors.ShoppingCartConvertor, Sitecore.Ecommerce.Kernel" />
    <alias alias="Repository" type="Sitecore.Ecommerce.Data.Repository`1, Sitecore.Ecommerce.Core" />
    <!-- SEARCH PROVIDERS -->
    <alias alias="ISearchProvider" type="Sitecore.Ecommerce.Search.ISearchProvider, Sitecore.Ecommerce.Kernel" />
    <!-- PRODUCT CATALOGS -->
    <alias alias="ICatalogProductResolveStrategy" type="Sitecore.Ecommerce.DomainModel.Catalogs.ICatalogProductResolveStrategy, Sitecore.Ecommerce.DomainModel" />
    <!-- DOMAIN -->
    <alias alias="SitecoreShoppingCartSettings" type="Sitecore.Ecommerce.Configurations.ShoppingCartSettings, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreBusinessCatalogSettings" type="Sitecore.Ecommerce.Configurations.BusinessCatalogSettings, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreDesignSettings" type="Sitecore.Ecommerce.Configurations.DesignSettings, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreGeneralSettings" type="Sitecore.Ecommerce.Configurations.GeneralSettings, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreShoppingCartSpotSettings" type="Sitecore.Ecommerce.Configurations.ShoppingCartSpotSettings, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreAddressInfo" type="Sitecore.Ecommerce.Addresses.AddressInfo, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreCountry" type="Sitecore.Ecommerce.Addresses.Country, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreCurrency" type="Sitecore.Ecommerce.Currencies.Currency, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreCustomerInfo" type="Sitecore.Ecommerce.Users.CustomerInfo, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreOrder" type="Sitecore.Ecommerce.Orders.Order, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreOrderLine" type="Sitecore.Ecommerce.Orders.OrderLine, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreNotificationOption" type="Sitecore.Ecommerce.Shippings.NotificationOption, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecorePaymentSystem" type="Sitecore.Ecommerce.Payments.PaymentSystem, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreProduct" type="Sitecore.Ecommerce.Products.Product, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreProductStock" type="Sitecore.Ecommerce.Products.ProductStock, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreProductPrice" type="Sitecore.Ecommerce.Products.ProductPrice, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreProductCategory" type="Sitecore.Ecommerce.Products.ProductCategory, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreShippingProvider" type="Sitecore.Ecommerce.Shippings.ShippingProvider, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreShoppingCart" type="Sitecore.Ecommerce.Carts.ShoppingCart, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreShoppingCartLine" type="Sitecore.Ecommerce.Carts.ShoppingCartLine, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreTotals" type="Sitecore.Ecommerce.Prices.Totals, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreVatRegion" type="Sitecore.Ecommerce.Addresses.VatRegion, Sitecore.Ecommerce.Kernel" />
    <alias alias="Completed" type="Sitecore.Ecommerce.Orders.Statuses.Completed, Sitecore.Ecommerce.Kernel" />
    <alias alias="Closed" type="Sitecore.Ecommerce.Orders.Statuses.Closed, Sitecore.Ecommerce.Kernel" />
    <alias alias="Held" type="Sitecore.Ecommerce.Orders.Statuses.Held, Sitecore.Ecommerce.Kernel" />
    <alias alias="Pending" type="Sitecore.Ecommerce.Orders.Statuses.Pending, Sitecore.Ecommerce.Kernel" />
    <alias alias="Processing" type="Sitecore.Ecommerce.Orders.Statuses.Processing, Sitecore.Ecommerce.Kernel" />
    <alias alias="Canceled" type="Sitecore.Ecommerce.Orders.Statuses.Canceled, Sitecore.Ecommerce.Kernel" />
    <alias alias="New" type="Sitecore.Ecommerce.Orders.Statuses.NewOrder, Sitecore.Ecommerce.Kernel" />
    <alias alias="Authorized" type="Sitecore.Ecommerce.Orders.Statuses.Authorized, Sitecore.Ecommerce.Kernel" />
    <alias alias="Captured" type="Sitecore.Ecommerce.Orders.Statuses.Captured, Sitecore.Ecommerce.Kernel" />
    <alias alias="CheckOut" type="Sitecore.Ecommerce.CheckOuts.CheckOut, Sitecore.Ecommerce.Kernel" />
    <alias alias="StrictCurrencyConverter" type="Sitecore.Ecommerce.Currencies.StrictCurrencyConverter, Sitecore.Ecommerce.Kernel" />
    <alias alias="CurrencyConverter" type="Sitecore.Ecommerce.Currencies.CurrencyConverter`2, Sitecore.Ecommerce.Kernel" />
    <alias alias="CustomerManager" type="Sitecore.Ecommerce.Users.CustomerManager`1, Sitecore.Ecommerce.Kernel" />
    <alias alias="CustomerMembership" type="Sitecore.Ecommerce.Security.CustomerMembership, Sitecore.Ecommerce.Kernel" />
    <alias alias="Mail" type="Sitecore.Ecommerce.Mails.Mail, Sitecore.Ecommerce.Kernel" />
    <alias alias="OrderManager" type="Sitecore.Ecommerce.Orders.OrderManager`1, Sitecore.Ecommerce.Kernel" />
    <alias alias="RemoteOrderManager" type="Sitecore.Ecommerce.ServiceModel.Orders.RemoteOrderManager, Sitecore.Ecommerce.ServiceModel" />
    <alias alias="ItemProductFactory" type="Sitecore.Ecommerce.Products.ItemProductFactory, Sitecore.Ecommerce.Kernel" />
    <alias alias="ProductRepository" type="Sitecore.Ecommerce.Products.ProductRepository, Sitecore.Ecommerce.Kernel" />
    <alias alias="ProductStockManager" type="Sitecore.Ecommerce.Products.ProductStockManager, Sitecore.Ecommerce.Kernel" />
    <alias alias="RemoteProductStockManager" type="Sitecore.Ecommerce.ServiceModel.Products.RemoteProductStockManager, Sitecore.Ecommerce.ServiceModel" />
    <alias alias="ProductPriceManager" type="Sitecore.Ecommerce.Prices.ProductPriceManager, Sitecore.Ecommerce.Kernel" />
    <alias alias="RemoteProductPriceManager" type="Sitecore.Ecommerce.ServiceModel.Prices.RemoteProductPriceManager, Sitecore.Ecommerce.ServiceModel" />
    <alias alias="ShoppingCartManager" type="Sitecore.Ecommerce.Carts.ShoppingCartManager, Sitecore.Ecommerce.Kernel" />
    <alias alias="TransactionData" type="Sitecore.Ecommerce.Payments.TransactionData, Sitecore.Ecommerce.Kernel" />
    <!-- Data -->
    <alias alias="DataMapper" type="Sitecore.Ecommerce.Data.DataMapper, Sitecore.Ecommerce.Kernel" />
    <alias alias="EntityProvider" type="Sitecore.Ecommerce.Data.EntityProvider`1, Sitecore.Ecommerce.Kernel" />
    <alias alias="EntityHelper" type="Sitecore.Ecommerce.Data.EntityHelper, Sitecore.Ecommerce.Kernel" />
    <alias alias="EntityToItemMapper" type="Sitecore.Ecommerce.Data.Mapping.EntityToItemMapper, Sitecore.Ecommerce.Kernel" />
    <alias alias="ItemToEntityMapper" type="Sitecore.Ecommerce.Data.Mapping.ItemToEntityMapper, Sitecore.Ecommerce.Kernel" />
    <alias alias="ConvertibleEntityMemberConverter" type="Sitecore.Ecommerce.Data.Mapping.Converters.ConvertibleEntityMemberConverter, Sitecore.Ecommerce.Kernel" />
    <alias alias="BooleanEntityMemberConverter" type="Sitecore.Ecommerce.Data.Mapping.Converters.BooleanEntityMemberConverter, Sitecore.Ecommerce.Kernel" />
    <alias alias="DateTimeEntityMemberConverter" type="Sitecore.Ecommerce.Data.Mapping.Converters.DateTimeEntityMemberConverter, Sitecore.Ecommerce.Kernel" />
    <alias alias="ProductSpecificationEntityMemberConverter" type="Sitecore.Ecommerce.Data.Mapping.Converters.ProductSpecificationEntityMemberConverter, Sitecore.Ecommerce.Kernel" />
    <alias alias="OrderMappingRule" type="Sitecore.Ecommerce.Data.OrderMappingRule, Sitecore.Ecommerce.Kernel" />
    <alias alias="OrderLineMappingRule" type="Sitecore.Ecommerce.Data.OrderLineMappingRule, Sitecore.Ecommerce.Kernel" />
    <alias alias="FieldToConvertibleMappingRule" type="Sitecore.Ecommerce.Data.FieldToConvertibleMappingRule, Sitecore.Ecommerce.Kernel" />
    <!-- SEAICHING -->
    <alias alias="FastQuerySearchProvider" type="Sitecore.Ecommerce.Search.FastQuerySearchProvider, Sitecore.Ecommerce.Kernel" />
    <alias alias="SitecoreQuerySearchProvider" type="Sitecore.Ecommerce.Search.SitecoreQuerySearchProvider, Sitecore.Ecommerce.Kernel" />
    <alias alias="LuceneSearchProvider" type="Sitecore.Ecommerce.Search.LuceneSearchProvider, Sitecore.Ecommerce.Kernel" />
    <alias alias="CompositeSearchProvider" type="Sitecore.Ecommerce.Search.CompositeSearchProvider, Sitecore.Ecommerce.Kernel" />
    <!-- PAYMENT PROVIDERS -->
    <alias alias="OfflinePaymentProvider" type="Sitecore.Ecommerce.Payments.OfflinePaymentProvider, Sitecore.Ecommerce.Kernel" />
    <!-- PRODUCT CATALOGS -->
    <alias alias="ProductListCatalogResolveStrategy" type="Sitecore.Ecommerce.Catalogs.ProductListCatalogResolveStrategy, Sitecore.Ecommerce.Kernel" />
    <alias alias="QueryCatalogProductResolveStrategy" type="Sitecore.Ecommerce.Catalogs.QueryCatalogProductResolveStrategy, Sitecore.Ecommerce.Kernel" />
    
    <!-- PRICES -->
    <alias alias="PriceCalculatorFactory" type="Sitecore.Ecommerce.DomainModel.Prices.PriceCalculatorFactory, Sitecore.Ecommerce.DomainModel" />
    <alias alias="PriceCalculatorFactoryImpl" type="Sitecore.Ecommerce.Prices.PriceCalculatorFactoryImpl, Sitecore.Ecommerce.Kernel" />
    <!-- PRODUCTS -->
    <alias alias="VirtualProductResolver" type="Sitecore.Ecommerce.Catalogs.VirtualProductResolver, Sitecore.Ecommerce.Kernel" />
    <alias alias="VirtualProductResolverArgs" type="Sitecore.Ecommerce.Catalogs.VirtualProductResolverArgs, Sitecore.Ecommerce.Kernel" />
    <alias alias="ProductUrlProcessor" type="Sitecore.Ecommerce.Catalogs.ProductUrlProcessor, Sitecore.Ecommerce.Kernel" />
    <alias alias="NameProductUrlProcessor" type="Sitecore.Ecommerce.Catalogs.NameProductUrlProcessor, Sitecore.Ecommerce.Kernel" />
    <alias alias="NameAndCodeProductUrlProcessor" type="Sitecore.Ecommerce.Catalogs.NameAndCodeProductUrlProcessor, Sitecore.Ecommerce.Kernel" />
    <alias alias="CodeProductUrlProcessor" type="Sitecore.Ecommerce.Catalogs.CodeProductUrlProcessor, Sitecore.Ecommerce.Kernel" />
    <!-- ORDER MANAGEMENT -->
    <alias alias="CoreOrder" type="Sitecore.Ecommerce.OrderManagement.Orders.Order, Sitecore.Ecommerce.Core" />
    <alias alias="CoreOrderStateConfiguration" type="Sitecore.Ecommerce.OrderManagement.CoreOrderStateConfiguration, Sitecore.Ecommerce.Core" />
    <alias alias="IOrderCalculationStrategy" type="Sitecore.Ecommerce.OrderManagement.IOrderCalculationStrategy, Sitecore.Ecommerce.Core" />
    <alias alias="DefaultOrderCalculationStrategy" type="Sitecore.Ecommerce.OrderManagement.DefaultOrderCalculationStrategy, Sitecore.Ecommerce.Core" />
    <alias alias="OrderIDGenerator" type="Sitecore.Ecommerce.DomainModel.Orders.OrderIDGenerator, Sitecore.Ecommerce.DomainModel" />
    <alias alias="ItemBasedOrderIDGenerator" type="Sitecore.Ecommerce.OrderManagement.ItemBasedOrderIDGenerator, Sitecore.Ecommerce.Kernel" />
    <alias alias="RemoteOrderIDGenerator" type="Sitecore.Ecommerce.ServiceModel.Orders.RemoteOrderIDGenerator, Sitecore.Ecommerce.ServiceModel" />
    <alias alias="OrderIDGenerationStrategy" type="Sitecore.Ecommerce.DomainModel.Orders.OrderIDGenerationStrategy, Sitecore.Ecommerce.DomainModel" />
    <alias alias="NumericOrderIDGenerationStrategy" type="Sitecore.Ecommerce.OrderManagement.NumericOrderIDGenerationStrategy, Sitecore.Ecommerce.Kernel" />
    <alias alias="IOrderFactory" type="Sitecore.Ecommerce.OrderManagement.IOrderFactory, Sitecore.Ecommerce.Core" />
    <alias alias="DefaultOrderFactory" type="Sitecore.Ecommerce.OrderManagement.DefaultOrderFactory, Sitecore.Ecommerce.Core" />
    <alias alias="EfOrderRepository" type="Sitecore.Ecommerce.Data.OrderManagement.EfOrderRepository, Sitecore.Ecommerce.Data" />
    <alias alias="OrderProcessor" type="Sitecore.Ecommerce.OrderManagement.OrderProcessor, Sitecore.Ecommerce.Core" />
    <alias alias="MerchantOrderSecurity" type="Sitecore.Ecommerce.Merchant.OrderManagement.MerchantOrderSecurity, Sitecore.Ecommerce.Merchant" />
    <alias alias="VisitorOrderSecurity" type="Sitecore.Ecommerce.Visitor.OrderManagement.VisitorOrderSecurity, Sitecore.Ecommerce.Visitor" />
    <alias alias="MerchantOrderManager" type="Sitecore.Ecommerce.Merchant.OrderManagement.MerchantOrderManager, Sitecore.Ecommerce.Merchant" />
    <alias alias="MerchantOrderStateConfiguration" type="Sitecore.Ecommerce.Merchant.OrderManagement.MerchantOrderStateConfiguration, Sitecore.Ecommerce.Merchant" />
    <alias alias="MerchantOrderProcessor" type="Sitecore.Ecommerce.Merchant.OrderManagement.MerchantOrderProcessor, Sitecore.Ecommerce.Merchant" />
    <alias alias="ProcessingStrategy" type="Sitecore.Ecommerce.OrderManagement.ProcessingStrategy, Sitecore.Ecommerce.Core" />
    <alias alias="VisitorOrderManager" type="Sitecore.Ecommerce.OrderManagement.VisitorOrderManager, Sitecore.Ecommerce.Core" />
    <alias alias="DefaultVisitorOrderManager" type="Sitecore.Ecommerce.Visitor.OrderManagement.DefaultVisitorOrderManager, Sitecore.Ecommerce.Visitor" />
    <alias alias="RemoteVisitorOrderManager" type="Sitecore.Ecommerce.ServiceModel.Orders.RemoteVisitorOrderManager, Sitecore.Ecommerce.ServiceModel" />
    <alias alias="VisitorOrderProcessorBase" type="Sitecore.Ecommerce.OrderManagement.VisitorOrderProcessorBase, Sitecore.Ecommerce.Core" />
    <alias alias="RemoteOrderProcessor" type="Sitecore.Ecommerce.ServiceModel.Orders.RemoteOrderProcessor, Sitecore.Ecommerce.ServiceModel" />
    <alias alias="VisitorOrderProcessor" type="Sitecore.Ecommerce.Visitor.OrderManagement.VisitorOrderProcessor, Sitecore.Ecommerce.Visitor" />
    <alias alias="VisitorOrderCancelationStrategy" type="Sitecore.Ecommerce.Visitor.OrderManagement.VisitorOrderCancelationStrategy, Sitecore.Ecommerce.Visitor" />
    <alias alias="TransientOrderManager" type="Sitecore.Ecommerce.Visitor.OrderManagement.Transient.TransientOrderManager, Sitecore.Ecommerce.Visitor" />
    <alias alias="TransientOrderConverter" type="Sitecore.Ecommerce.Visitor.OrderManagement.Transient.TransientOrderConverter, Sitecore.Ecommerce.Visitor" />
    <alias alias="OrderLineFactory" type="Sitecore.Ecommerce.OrderManagement.OrderLineFactory, Sitecore.Ecommerce.Core" />
    <alias alias="OrderLineFactoryImpl" type="Sitecore.Ecommerce.Merchant.OrderManagement.OrderLineFactoryImpl, Sitecore.Ecommerce.Merchant" />
    <alias alias="OrderProcessingStrategy" type="Sitecore.Ecommerce.OrderManagement.OrderProcessingStrategy, Sitecore.Ecommerce.Core" />
    <alias alias="OrderProcessingStrategyResolver" type="Sitecore.Ecommerce.Merchant.OrderManagement.OrderProcessingStrategyResolver, Sitecore.Ecommerce.Merchant" />
    <alias alias="OrderProcessingStrategyResolverImpl" type="Sitecore.Ecommerce.Merchant.OrderManagement.OrderProcessingStrategyResolverImpl, Sitecore.Ecommerce.Merchant" />
    <alias alias="AddNewOrderLineProcessingStrategy" type="Sitecore.Ecommerce.Merchant.OrderManagement.AddNewOrderLineProcessingStrategy, Sitecore.Ecommerce.Merchant" />
    <alias alias="EditOrderLineProcessingStrategy" type="Sitecore.Ecommerce.Merchant.OrderManagement.EditOrderLineProcessingStrategy, Sitecore.Ecommerce.Merchant" />
    <alias alias="RemoveOrderLineProcessingStrategy" type="Sitecore.Ecommerce.Merchant.OrderManagement.RemoveOrderLineProcessingStrategy, Sitecore.Ecommerce.Merchant" />
    <alias alias="ChangeOrderLineQuantityProcessingStrategy" type="Sitecore.Ecommerce.Merchant.OrderManagement.ChangeOrderLineQuantityProcessingStrategy, Sitecore.Ecommerce.Merchant" />
    <alias alias="OrderStateProcessingStrategy" type="Sitecore.Ecommerce.Merchant.OrderManagement.OrderStateProcessingStrategy, Sitecore.Ecommerce.Merchant" />
    <alias alias="CancelReservationProcessingStrategy" type="Sitecore.Ecommerce.Merchant.OrderManagement.CancelReservationProcessingStrategy, Sitecore.Ecommerce.Merchant" />
    <alias alias="CaptureOrderProcessingStrategy" type="Sitecore.Ecommerce.Merchant.OrderManagement.CaptureOrderProcessingStrategy, Sitecore.Ecommerce.Merchant" />
    <alias alias="PackOrderProcessingStrategy" type="Sitecore.Ecommerce.Merchant.OrderManagement.PackOrderProcessingStrategy, Sitecore.Ecommerce.Merchant" />
    <alias alias="ShipOrderProcessingStrategy" type="Sitecore.Ecommerce.Merchant.OrderManagement.ShipOrderProcessingStrategy, Sitecore.Ecommerce.Merchant" />
    <alias alias="SuspiciousProductQuantityOrderProcessingStrategy" type="Sitecore.Ecommerce.Merchant.OrderManagement.SuspiciousProductQuantityOrderProcessingStrategy, Sitecore.Ecommerce.Merchant" />
    <alias alias="MerchantOrderCancellationStrategy" type="Sitecore.Ecommerce.Merchant.OrderManagement.MerchantOrderCancellationStrategy, Sitecore.Ecommerce.Merchant" />
    <alias alias="CancelOrderProcessingStrategy" type="Sitecore.Ecommerce.Visitor.OrderManagement.CancelOrderProcessingStrategy, Sitecore.Ecommerce.Visitor" />
    <alias alias="ConfirmationMessageBuilder" type="Sitecore.Ecommerce.OrderManagement.ConfirmationMessageBuilder, Sitecore.Ecommerce.Core" />
    <alias alias="StiReportConfirmationBuilder" type="Sitecore.Ecommerce.Report.StiReportConfirmationBuilder, Sitecore.Ecommerce.Kernel" />
    <!-- LOGGING -->
    <alias alias="Logger" type="Sitecore.Ecommerce.Logging.Logger, Sitecore.Ecommerce.Core" />
    <alias alias="LoggingProvider" type="Sitecore.Ecommerce.Logging.LoggingProvider, Sitecore.Ecommerce.Core" />
    <alias alias="EfLoggingProvider" type="Sitecore.Ecommerce.Data.Logging.EfLoggingProvider, Sitecore.Ecommerce.Data" />
    <alias alias="LoggingHandler" type="Sitecore.Ecommerce.Logging.LoggingHandler, Sitecore.Ecommerce.Core" />
    <!-- MAILING -->
    <alias alias="MailService" type="Sitecore.Ecommerce.Mail.MailService, Sitecore.Ecommerce.Core" />
    <alias alias="MailServiceImpl" type="Sitecore.Ecommerce.Mail.MailServiceImpl, Sitecore.Ecommerce.Core" />
    <!-- EXAMPLES -->
    <alias alias="MyOrder" type="Sitecore.Ecommerce.Examples.Orders.MyOrder, Sitecore.Ecommerce.Custom" />
    <alias alias="MyShoppingCart" type="Sitecore.Ecommerce.Examples.Orders.MyShoppingCart, Sitecore.Ecommerce.Custom" />
    <alias alias="MyCustomerInfo" type="Sitecore.Ecommerce.Examples.Orders.MyCustomerInfo, Sitecore.Ecommerce.Custom" />
    <alias alias="MyOrderMappingRule" type="Sitecore.Ecommerce.Examples.Orders.MyOrderMappingRule, Sitecore.Ecommerce.Custom" />
    <alias alias="MyOrderDtoConvertor" type="Sitecore.Ecommerce.Examples.Orders.MyOrderDtoConvertor, Sitecore.Ecommerce.Custom" />
    <alias alias="MyShoppingCartDtoConvertor" type="Sitecore.Ecommerce.Examples.Orders.MyShoppingCartDtoConvertor, Sitecore.Ecommerce.Custom" />
    <container>
      <extension type="Interception" />
     
      <!-- CONTEXT -->
      <register type="User" mapTo="ContextUser" name="ContextUser">
        <lifetime type="hierarchical" />
      </register>
      <register type="ShopContext">
        <lifetime type="hierarchical" />
      </register>
      <!-- SITECORE -->
      <register type="PipelineWrapper">
        <lifetime type="singleton" />
      </register>
      <register type="SiteContextFactoryWrapper">
        <lifetime type="singleton" />
      </register>
      <register type="SiteInfo">
        <constructor>
          <param name="properties" />
        </constructor>
      </register>
      <register type="StringDictionary">
        <constructor />
      </register>
      <!-- DATA -->
      <register type="IDataMapper" mapTo="DataMapper">
        <lifetime type="hierarchical" />
      </register>
      <register type="EntityHelper">
        <lifetime type="hierarchical" />
      </register>
      <register type="IEntityProvider" mapTo="EntityProvider" />
      <register type="EntityMapper[IEntity, Item]" mapTo="EntityToItemMapper" />
      <register type="EntityMapper[Item, IEntity]" mapTo="ItemToEntityMapper" />
      <register type="IEntityMemberConverter" mapTo="ConvertibleEntityMemberConverter" />
      <register type="IEntityMemberConverter" mapTo="BooleanEntityMemberConverter" name="BooleanEntityMemberConverter" />
      <register type="IEntityMemberConverter" mapTo="ConvertibleEntityMemberConverter" name="StringEntityMemberConverter" />
      <register type="IEntityMemberConverter" mapTo="DateTimeEntityMemberConverter" name="DateTimeEntityMemberConverter" />
      <register type="IEntityMemberConverter" mapTo="ProductSpecificationEntityMemberConverter" name="ProductSpecificationEntityMemberConverter" />
      <register type="IMappingRule" mapTo="OrderMappingRule" name="OrderMappingRule">
        <property name="MappingObject" dependencyType="Order" />
      </register>
      <register type="IMappingRule" mapTo="OrderLineMappingRule" name="OrderLineMappingRule">
        <property name="MappingObject" dependencyType="OrderLine" />
      </register>
      <!-- PRODUCTS -->
      <register type="ICatalogProductResolveStrategy" mapTo="ProductListCatalogResolveStrategy" name="Product List">
        <constructor>
          <param name="fieldName">
            <value value="Products" />
          </param>
        </constructor>
        <property name="ProductRepository" />
        <property name="DataMapper" />
      </register>
      <register type="ICatalogProductResolveStrategy" mapTo="QueryCatalogProductResolveStrategy" name="Query">
        <constructor>
          <param name="searchTextBoxesFieldName">
            <value value="Search Text Boxes" />
          </param>
          <param name="searchChecklistsFieldName">
            <value value="Search Checklists" />
          </param>
        </constructor>
        <property name="ProductRepository" />
        <property name="SearchProvider" />
      </register>
      <register type="ICheckOut" mapTo="CheckOut">
        <lifetime type="hierarchical" />
      </register>
      <register type="ICurrencyConverter" mapTo="CurrencyConverter" name="InnerCurrencyConverter">
        <lifetime type="hierarchical" />
        <property name="ShopContext" />
      </register>
      <register type="ICurrencyConverter" mapTo="StrictCurrencyConverter">
        <lifetime type="hierarchical" />
        <constructor>
          <param name="innerCurrencyConverter" dependencyName="InnerCurrencyConverter" />
          <param name="shopContext" />
          <param name="currencyMapper" />
        </constructor>
      </register>
      <register type="ICustomerManager" mapTo="CustomerManager">
        <lifetime type="hierarchical" />
        <property name="CustomerMembership" />
      </register>
      <register type="CustomerMembership">
        <lifetime type="hierarchical" />
        <property name="ShopContext" />
      </register>
      <register type="IMail" mapTo="Mail">
        <lifetime type="hierarchical" />
      </register>
      <register type="IOrderManager" mapTo="TransientOrderManager">
        <lifetime type="hierarchical" />
      </register>
      <register type="OrderIDGenerator" mapTo="ItemBasedOrderIDGenerator">
        <lifetime type="hierarchical" />
      </register>
      <register type="IProductStockManager" mapTo="ProductStockManager">
        <lifetime type="hierarchical" />
      </register>
      <register type="IProductPriceManager" mapTo="ProductPriceManager">
        <lifetime type="hierarchical" />
      </register>
      <register type="OrderIDGenerationStrategy" mapTo="NumericOrderIDGenerationStrategy" />
      <register type="TransientOrderConverter">
        <property name="OrderStateConfiguration" />
        <property name="CountryProvider" />
        <property name="NotificationOptionProvider" />
        <property name="ShippingProvider" />
        <property name="CompanyMasterData" />
        <property name="PaymentProviderFactory" />
      </register>
      <register type="DtoConvertor[Order]" mapTo="OrderDtoConvertor" />
      <register type="DtoConvertor[ShoppingCart]" mapTo="ShoppingCartDtoConvertor" />
      <register type="ProductFactory" mapTo="ItemProductFactory">
        <lifetime type="hierarchical" />
        <property name="ShopContext" />
      </register>
      <register type="PriceCalculatorFactory" mapTo="PriceCalculatorFactoryImpl">
        <property name="User" dependencyName="ContextUser" />
      </register>
      <register type="IProductRepository" mapTo="ProductRepository">
        <property name="DataMapper" />
        <property name="EntityHelper" />
        <property name="ShopContext" />
      </register>
      <register type="IShoppingCartManager" mapTo="ShoppingCartManager">
        <constructor>
          <param name="productRepository" />
          <param name="productPriceManager" />
        </constructor>
      </register>
      <register type="ITransactionData" mapTo="TransactionData">
        <lifetime type="hierarchical" />
      </register>
      <!-- BUSINESS SETTINGS -->
      <register type="BusinessCatalogSettings" mapTo="SitecoreBusinessCatalogSettings">
        <property name="Alias" value="Business Catalog" />
      </register>
      <register type="DesignSettings" mapTo="SitecoreDesignSettings">
        <property name="Alias">
          <value value="Design Settings" />
        </property>
      </register>
      <register type="GeneralSettings" mapTo="SitecoreGeneralSettings">
        <property name="Alias">
          <value value="General" />
        </property>
      </register>
      <register type="ShoppingCartSettings" mapTo="SitecoreShoppingCartSettings" >
        <property name="Alias">
          <value value="Shopping Cart" />
        </property>
      </register>
      <register type="ShoppingCartSpotSettings" mapTo="SitecoreShoppingCartSpotSettings">
        <property name="Alias">
          <value value="Shopping Cart Spot" />
        </property>
      </register>
      <!-- Business objects mappings -->
      <register type="AddressInfo" mapTo="SitecoreAddressInfo">
        <property name="Country" />
      </register>
      <register type="Country" mapTo="SitecoreCountry">
        <property name="VatRegion" />
      </register>
      <register type="Currency" mapTo="SitecoreCurrency">
      </register>
      <register type="CustomerInfo" mapTo="SitecoreCustomerInfo">
        <property name="BillingAddress" />
        <property name="ShippingAddress" />
      </register>
      <register type="NotificationOption" mapTo="SitecoreNotificationOption">
      </register>
      <register type="Order" mapTo="SitecoreOrder">
        <constructor>
          <param name="status" dependencyName="New" />
        </constructor>
        <property name="OrderLines" />
        <property name="Currency" />
        <property name="CustomerInfo" />
        <property name="NotificationOption" />
        <property name="PaymentSystem" />
        <property name="ShippingProvider" />
        <property name="Totals" />
        <property name="Status" />
      </register>
      <register type="OrderLine" mapTo="SitecoreOrderLine">
        <property name="Product" />
        <property name="Totals" />
      </register>
      <register type="IList[OrderLine]" mapTo="List[OrderLine]">
        <constructor />
      </register>
      <register type="PaymentSystem" mapTo="SitecorePaymentSystem" />
      <register type="ProductBaseData" mapTo="SitecoreProduct" />
      <register type="ProductStock" mapTo="SitecoreProductStock" />
      <register type="ProductPriceBaseData" mapTo="SitecoreProductPrice" />
      <register type="ProductCategory" mapTo="SitecoreProductCategory" />
      <register type="ShippingProvider" mapTo="SitecoreShippingProvider" />
      <register type="ShoppingCart" mapTo="SitecoreShoppingCart">
        <property name="Currency" />
        <property name="CustomerInfo" />
        <property name="NotificationOption" />
        <property name="PaymentSystem" />
        <property name="ShippingProvider" />
        <property name="ShoppingCartLines" />
        <property name="Totals" />
      </register>
      <register type="ShoppingCartLine" mapTo="SitecoreShoppingCartLine">
        <property name="Product" />
        <property name="ProductRepository" />
        <property name="Totals" />
      </register>
      <register type="IList[ShoppingCartLine]" mapTo="List[ShoppingCartLine]">
        <constructor/>
      </register>
      <register type="Totals" mapTo="SitecoreTotals">
        <constructor>
          <param name="totals" />
        </constructor>
      </register>
      <register type="IEnumerable[string]" mapTo="Collection[string]">
        <constructor/>
      </register>
      <register type="IDictionary[string, decimal]" mapTo="Dictionary[string, decimal]">
        <constructor/>
      </register>
      <register type="VatRegion" mapTo="SitecoreVatRegion">
      </register>
      <!-- Order statuses mappings -->
      <register type="OrderStatus" mapTo="Closed" name="Closed" />
      <register type="OrderStatus" mapTo="Completed" name="Completed" />
      <register type="OrderStatus" mapTo="Pending" name="Pending" />
      <register type="OrderStatus" mapTo="New" name="New" />
      <register type="OrderStatus" mapTo="New" />
      <register type="OrderStatus" mapTo="Authorized" name="Authorized" />
      <register type="OrderStatus" mapTo="Captured" name="Captured" />
      <register type="OrderStatus" mapTo="Processing" name="Processing" />
      <register type="OrderStatus" mapTo="Held" name="Held" />
      <register type="OrderStatus" mapTo="Canceled" name="Canceled" />
      <register type="IProductRepositoryItem" mapTo="SitecoreProduct" />
      <!-- PAYMENT PROVIDERS -->
      <register type="PaymentProviderFactory" mapTo="DefaultPaymentProviderFactory" />
      <register type="PaymentProvider" mapTo="OfflinePaymentProvider">
        <property name="PaymentSystem" />
      </register>
      <register type="PaymentProvider" mapTo="OfflinePaymentProvider" name="PayByCheck">
        <property name="PaymentSystem" />
      </register>
      <register type="PaymentProvider" mapTo="OfflinePaymentProvider" name="MoneyTransfer">
        <property name="PaymentSystem" />
      </register>
      <!--<register type="PaymentProvider" mapTo="AuthorizeNetPaymentProvider" name="AuthorizeNET">
        <property name="PaymentSystem" />
      </register>-->
      <!--<register type="PaymentProvider" mapTo="BbsPaymentProvider" name="BBS" />-->
      <!--<register type="PaymentProvider" mapTo="DibsPaymentProvider" name="DIBS">
        <property name="PaymentSystem" />
      </register>-->
      <!--<register type="PaymentProvider" mapTo="EPayPaymentProvider" name="EPay" />-->
      <!--<register type="PaymentProvider" mapTo="PayExPaymentProvider" name="PayEx" />-->
      <!--<register type="PaymentProvider" mapTo="QuickPayPaymentProvider" name="QuickPay" />-->
      <!-- SEARCH PROVIDERS -->
      <register type="ISearchProvider" mapTo="CompositeSearchProvider">
        <property name="PrimarySearchProvider" dependencyName="LuceneSearchProvider" />
        <property name="SecondarySearchProvider" dependencyName="FastQuerySearchProvider" />
      </register>
      <register type="ISearchProvider" mapTo="FastQuerySearchProvider" name="FastQuerySearchProvider" />
      <register type="ISearchProvider" mapTo="SitecoreQuerySearchProvider" name="SitecoreQuerySearchProvider" />
      <register type="ISearchProvider" mapTo="LuceneSearchProvider" name="LuceneSearchProvider" />
      <register type="ISearchProvider" mapTo="CompositeSearchProvider" name="CompositeSearchProvider">
        <property name="PrimarySearchProvider" dependencyName="LuceneSearchProvider" />
        <property name="SecondarySearchProvider" dependencyName="FastQuerySearchProvider" />
      </register>
      <!-- PRODUCTS -->
      <register type="VirtualProductResolver" mapTo="VirtualProductResolver">
        <lifetime type="singleton" />
        <constructor>
          <param name="resolverArgs">
            <dependency name="VirtualProductResolverArgs" />
          </param>
        </constructor>
      </register>
      <register type="VirtualProductResolverArgs" mapTo="VirtualProductResolverArgs">
        <lifetime type="hierarchical" />
      </register>
      <register type="ProductUrlProcessor" mapTo="NameProductUrlProcessor">
        <lifetime type="hierarchical" />
      </register>
      <register type="ProductUrlProcessor" mapTo="NameProductUrlProcessor" name="Item Name">
        <lifetime type="hierarchical" />
      </register>
      <register type="ProductUrlProcessor" mapTo="NameAndCodeProductUrlProcessor" name="Item Name and Product Code">
        <lifetime type="hierarchical" />
      </register>
      <register type="ProductUrlProcessor" mapTo="CodeProductUrlProcessor" name="Product Code">
        <lifetime type="hierarchical" />
      </register>
      <!-- ORDER MANAGEMENT -->
      <register type="Repository[CoreOrder]" mapTo="EfOrderRepository">
        <lifetime type="hierarchical" />
      </register>
      <register type="CoreOrderStateConfiguration">
        <property name="ShopContext" />
      </register>
      <register type="IOrderCalculationStrategy" mapTo="DefaultOrderCalculationStrategy">
        <lifetime type="singleton" />
      </register>
      <register type="MerchantOrderManager">
        <lifetime type="hierarchical" />
        <property name="CoreOrderManager" />
        <property name="StateConfiguration" />
        <property name="CalculationStrategy" />
        <property name="OrderProcessor" />
        <property name="ShopContext" />
      </register>
      <register type="MerchantOrderProcessor" mapTo="MerchantOrderProcessor">
        <property name="Logger" />
      </register>
      <register type="MerchantOrderStateConfiguration">
        <property name="OrderSecurity" />
        <property name="StateManager" />
      </register>
      <register type="MerchantOrderSecurity">
        <property name="User" dependencyName="ContextUser" />
        <property name="OrderStateConfiguration" />
      </register>
      <register type="VisitorOrderManager" mapTo="DefaultVisitorOrderManager">
        <lifetime type="hierarchical" />
        <interceptor type="VirtualMethodInterceptor" />
        <policyInjection />
      </register>
      <register type="VisitorOrderProcessorBase" mapTo="VisitorOrderProcessor">
        <lifetime type="hierarchical" />
        <interceptor type="VirtualMethodInterceptor" />
        <policyInjection />
      </register>
      <register type="VisitorOrderSecurity">
        <property name="User" dependencyName="ContextUser" />
        <property name="OrderStateConfiguration" />
      </register>
      <register type="OrderLineFactory" mapTo="OrderLineFactoryImpl">
        <property name="ProductRepository" />
        <property name="ProductPriceManager" />
        <property name="CurrencyProvider" />
        <property name="VatRegionProvider" />
      </register>
      <register type="IOrderFactory" mapTo="DefaultOrderFactory" />
      <register type="OrderProcessingStrategyResolver" mapTo="OrderProcessingStrategyResolverImpl">
        <property name="OrderSecurity" />
        <property name="CancelOrderProcessingStrategy" dependencyName="CancelOrder" />
        <property name="CaptureOrderProcessingStrategy" dependencyName="CaptureOrder" />
        <property name="PackOrderProcessingStrategy" dependencyName="PackOrder" />
        <property name="ShipOrderProcessingStrategy" dependencyName="ShipOrder" />
        <property name="OrderStateProcessingStrategy" dependencyName="ChangeState" />
        <property name="SuspiciousProductQuantityOrderProcessingStrategy" dependencyName="SuspiciousProductQuantity" />
      </register>
      <register type="OrderProcessingStrategy" mapTo="AddNewOrderLineProcessingStrategy" name="AddOrderLine" />
      <register type="OrderProcessingStrategy" mapTo="EditOrderLineProcessingStrategy" name="EditOrderLine" />
      <register type="OrderProcessingStrategy" mapTo="RemoveOrderLineProcessingStrategy" name="RemoveOrderLine" />
      <register type="OrderProcessingStrategy" mapTo="ChangeOrderLineQuantityProcessingStrategy" name="ChangeOrderLineQuantity" />
      <register type="OrderProcessingStrategy" mapTo="CancelReservationProcessingStrategy" name="CancelOrder" />
      <register type="OrderProcessingStrategy" mapTo="OrderStateProcessingStrategy" name="ChangeState" />
      <register type="OrderProcessingStrategy" mapTo="CaptureOrderProcessingStrategy" name="CaptureOrder" />
      <register type="OrderProcessingStrategy" mapTo="PackOrderProcessingStrategy" name="PackOrder" />
      <register type="OrderProcessingStrategy" mapTo="ShipOrderProcessingStrategy" name="ShipOrder" />
      <register type="OrderProcessingStrategy" mapTo="SuspiciousProductQuantityOrderProcessingStrategy" name="SuspiciousProductQuantity" />
      <register type="ProcessingStrategy" mapTo="VisitorOrderCancelationStrategy">
        <property name="StateManager" />
      </register>
      <register type="MerchantOrderCancellationStrategy">
        <property name="StateManager" />
        <property name="OrderSecurity" />
      </register>
      <!-- LOGGING -->
      <register type="Logger">
        <property name="DefaultShopContextId" value="localhost" />
        <property name="Provider" />
      </register>
      <register type="LoggingHandler">
        <property name="Logger" />
      </register>
      <register type="LoggingProvider" mapTo="EfLoggingProvider" />
      <!-- MAILING -->
      <register type="ConfirmationMessageBuilder" mapTo="StiReportConfirmationBuilder" />
      <register type="MailService" mapTo="MailServiceImpl" />
      <!-- EXTENSIONS -->
      <extension type="Sitecore.Ecommerce.Unity.QueryableContainerExtension, Sitecore.Ecommerce.Kernel" />
      <extension type="Sitecore.Ecommerce.Visitor.Unity.ShopContextContainerExtension, Sitecore.Ecommerce.Visitor" />
    </container>
  </unity>
</configuration>